{% extends 'base.html' %}

{% block content %}
<h1>Edit Post:</h1>

<form method="POST" action="/posts/{{ post.id }}/edit">
  <input type="text" name="title" required value="{{ post.title }}">
  <label for="title"></label>

  <input type="textarea" name="content" required value="{{ post.content }}">
  <label for="content"></label>

  <!-- product manager is an idiot and said go to user page. we ignored them -->
  <a href="/posts/{{ post.id }}/"><button>Cancel</button></a>
  <button type="submit">Edit</button>
</form>

{% endblock %}